@import 'tailwindcss';

@theme {
	--color-primary: #f23846;
	--color-secondary: #a72934;
	--color-light-gray: #8b8b8b;
	--color-disabled: #a8a8a8;
	--color-white: #f6f6f6;
	--color-black: #181818;
}

:root {
	color-scheme: light dark;
	background-color: var(--color-black);
	color: var(--color-white);
	transition:
		background-color 0.3s,
		color 0.3s;
	font-family: var(--font-body);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}
